.home_page {
 font-family: "Roboto";
  .home_card_container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    color: #fff !important;
    background-color: #121212 !important;
    .home_card_image {
      width: 20%;
    }
    .home_card_body {
      .title_name {
        font-size: 24px;
      }
      .title_header {
       font-size: 50px;
      }
      .playlist_name {
       color: #4D5966;
       display: block;
       font-size: 16px;
      }
      .total_sings {
       color: #4D5966;
       font-size: 16px;
       display: block;
       strong{
        color: #FFF;
       }
      }
      .playBtn{
       border: 1px solid #54BA53;
       background-color: #54BA53;
       color: #FFF;
       padding: 4px 20px;
       border-radius: 10px;
       width: 120px;
       font-size: 22px;
       margin-right: 10px;
      }
      .menuBtnModal{
       
      }
    }
  }
}
