.App_page{
  background-color: #121212;
  height: 100%;
  width: 100%;
  padding: 15px 10px;
}
.dropdown-menu{
  // background-color: #282828 !important;
  color:  #FFF;
}
.dropdown-item.disabled,.dropdown-item:disabled {
  color: hsla(0, 0%, 100%, 0.9) !important;
}